In [1]:
import pandas as pd

In [2]:
wk_plyr_off = pd.read_csv("data/raw/weekly_player_stats_offense.csv")

In [3]:
wk_plyr_off.head()

,season,week,offense_snaps,offense_pct,team_offense_snaps,player_id,birth_year,draft_year,draft_round,draft_pick,...,career_rush_td_pct,career_ypc,career_td_pct,career_yptouch,career_pass_ypg,career_rec_ypg,career_rush_ypg,career_ypg,career_average_ppr_ppg,career_average_standard_ppg
0,2012,12,63.0,1.00,63.0,00-0000865,1974,1998.0,2.0,30.0,...,NaN,NaN,0.00,6.42,199.0,0.00,0.0,199.00,1.96,1.96
1,2012,13,66.0,1.00,66.0,00-0000865,1974,1998.0,2.0,30.0,...,NaN,NaN,0.02,7.20,237.5,0.00,0.0,118.75,8.50,8.50
2,2012,2,12.0,0.18,67.0,00-0004541,1975,1999.0,7.0,7.0,...,NaN,NaN,2.00,26.00,0.0,26.00,0.0,26.00,9.60,8.60
3,2012,3,4.0,0.05,80.0,00-0004541,1975,1999.0,7.0,7.0,...,NaN,NaN,2.00,26.00,0.0,13.00,0.0,6.50,4.80,4.30
4,2012,4,18.0,0.26,69.0,00-0004541,1975,1999.0,7.0,7.0,...,NaN,NaN,1.00,14.43,0.0,9.67,0.0,3.22,3.63,2.97