In [1]:
import pandas as pd

Offensive Yearly by Position

In [4]:
off_plyr_year = pd.read_csv("data/raw/yearly_player_stats_offense.csv")

In [5]:
off_plyr_year.head()

,player_id,player_name,position,birth_year,draft_year,draft_round,draft_pick,draft_ovr,height,weight,...,delta_comp_pct,delta_int_pct,delta_pass_td_pct,delta_ypa,delta_yptarget,delta_ypr,delta_rush_td_pct,delta_ypc,delta_td_pct,delta_yptouch
0,00-0000865,Charlie Batch,QB,1974,1998.0,2.0,30.0,60.0,74.0,216.0,...,0.220036,-1.0,-1.0,0.025641,0.000000,0.000000,0.0,0.000000,-0.909091,-0.388795
1,00-0004541,Donald Driver,WR,1975,1999.0,7.0,7.0,213.0,72.0,194.0,...,0.000000,NaN,NaN,0.000000,-0.172028,-0.068732,0.0,0.000000,49.000000,1.226852
2,00-0006101,Tony Gonzalez,TE,1976,1997.0,1.0,13.0,13.0,77.0,247.0,...,0.000000,0.0,0.0,0.000000,0.273859,-0.216170,0.0,0.000000,3.833333,0.236242
3,00-0006101,Tony Gonzalez,TE,1976,1997.0,1.0,13.0,13.0,77.0,247.0,...,0.000000,NaN,NaN,0.000000,-0.165038,0.085776,0.0,0.000000,-0.413793,0.085776
4,00-0007091,Matt Hasselbeck,QB,1975,1998.0,6.0,34.0,187.0,76.0,235.0,...,0.149281,-1.0,-1.0,-0.162698,0.000000,0.000000,-1.0,-0.337868,0.500000,0.250509

In [15]:
cols_to_keep = ["player_id", "position", "season", "season_type", "passing_yards", "receiving_yards", "rushing_yards", "rush_touchdown", "pass_touchdown", "interception", "fumble", "total_tds", "depth_team", "games_missed", "games_played_season"]

In [16]:
off_plyr_yr_reduced = off_plyr_year[cols_to_keep]
off_plyr_yr_reduced.head()

,player_id,position,season,season_type,passing_yards,receiving_yards,rushing_yards,rush_touchdown,pass_touchdown,interception,fumble,total_tds,depth_team,games_missed,games_played_season
0,00-0000865,QB,2012,REG,475.0,0.0,0.0,0.0,1.0,4.0,1.0,1.0,3.0,14,2
1,00-0004541,WR,2012,REG,0.0,77.0,0.0,0.0,2.0,0.0,0.0,4.0,2.0,7,9
2,00-0006101,TE,2012,POST,0.0,129.0,0.0,0.0,2.0,1.0,0.0,4.0,1.0,1,2
3,00-0006101,TE,2012,REG,0.0,930.0,0.0,0.0,8.0,3.0,0.0,16.0,1.0,0,16
4,00-0007091,QB,2012,REG,1367.0,0.0,38.0,0.0,7.0,5.0,3.0,7.0,2.0,8,8

In [17]:
off_plyr_yr_filtered = off_plyr_yr_reduced[(off_plyr_yr_reduced["season_type"] == "REG") & (off_plyr_yr_reduced["season"] > 2019)]
off_plyr_yr_filtered.shape

(2708, 15)

In [18]:
off_plyr_yr_filtered.head()

,player_id,position,season,season_type,passing_yards,receiving_yards,rushing_yards,rush_touchdown,pass_touchdown,interception,fumble,total_tds,depth_team,games_missed,games_played_season
4039,00-0019596,QB,2020,REG,4633.0,0.0,6.0,3.0,40.0,12.0,4.0,43.0,1.0,0,16
4041,00-0020531,QB,2020,REG,2708.0,0.0,-2.0,2.0,21.0,5.0,6.0,23.0,1.0,5,11
4042,00-0022127,TE,2020,REG,0.0,69.0,0.0,0.0,2.0,0.0,0.0,4.0,3.0,6,10
4043,00-0022787,QB,2020,REG,0.0,0.0,-4.0,0.0,0.0,0.0,0.0,0.0,2.0,15,1
4044,00-0022824,P,2020,REG,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,15,1

In [20]:
off_plyr_yr_filtered.describe()

,season,passing_yards,receiving_yards,rushing_yards,rush_touchdown,pass_touchdown,interception,fumble,total_tds,depth_team,games_missed,games_played_season
count,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000
mean,2021.940547,231.046898,226.154357,109.798375,0.887371,2.844535,1.432422,0.912112,5.133309,1.745199,7.468242,9.323117
std,1.405492,827.129518,306.732688,248.620088,2.278426,5.725449,2.651166,1.926147,7.344619,0.707808,5.400005,5.410940
min,2020.000000,-7.000000,-10.000000,-18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
25%,2021.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,4.000000
50%,2022.000000,0.000000,96.500000,3.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,7.000000,10.000000
75%,2023.000000,0.000000,329.000000,70.250000,1.000000,3.000000,2.000000,1.000000,7.000000,2.000000,12.000000,14.000000
max,2024.000000,5316.000000,1947.000000,2027.000000,18.000000,48.000000,21.000000,16.000000,51.000000,3.000000,16.000000,17.000000

In [21]:
off_plyr_yr_filtered.to_csv("data/processed/off_position_year_summary.csv")