In [1]:
import pandas as pd
from pathlib import Path

from utility import AbbrToTeamNameMap as tmmap

In [2]:
cutoff_year = 2019
raw_path = "data/raw/"
processed_path = "data/processed/"
file_name_prefix = "yearly_"
file_name_postfix = "_year_summary"
file_type = ".csv"

Offensive Yearly by Position

In [3]:
off_plyr_year = pd.read_csv(f"{raw_path}{file_name_prefix}player_stats_offense{file_type}")

In [4]:
off_plyr_year.head()

,player_id,player_name,position,birth_year,draft_year,draft_round,draft_pick,draft_ovr,height,weight,...,delta_comp_pct,delta_int_pct,delta_pass_td_pct,delta_ypa,delta_yptarget,delta_ypr,delta_rush_td_pct,delta_ypc,delta_td_pct,delta_yptouch
0,00-0000865,Charlie Batch,QB,1974,1998.0,2.0,30.0,60.0,74.0,216.0,...,0.220036,-1.0,-1.0,0.025641,0.000000,0.000000,0.0,0.000000,-0.909091,-0.388795
1,00-0004541,Donald Driver,WR,1975,1999.0,7.0,7.0,213.0,72.0,194.0,...,0.000000,NaN,NaN,0.000000,-0.172028,-0.068732,0.0,0.000000,49.000000,1.226852
2,00-0006101,Tony Gonzalez,TE,1976,1997.0,1.0,13.0,13.0,77.0,247.0,...,0.000000,0.0,0.0,0.000000,0.273859,-0.216170,0.0,0.000000,3.833333,0.236242
3,00-0006101,Tony Gonzalez,TE,1976,1997.0,1.0,13.0,13.0,77.0,247.0,...,0.000000,NaN,NaN,0.000000,-0.165038,0.085776,0.0,0.000000,-0.413793,0.085776
4,00-0007091,Matt Hasselbeck,QB,1975,1998.0,6.0,34.0,187.0,76.0,235.0,...,0.149281,-1.0,-1.0,-0.162698,0.000000,0.000000,-1.0,-0.337868,0.500000,0.250509

In [5]:
cols_to_keep = ["position", "season", "season_type", "passing_yards", "receiving_yards", "rushing_yards", "rush_touchdown", "pass_touchdown", "interception", "fumble", "total_tds", "depth_team", "games_missed", "games_played_season"]

In [6]:
off_plyr_yr_reduced = off_plyr_year[cols_to_keep]
off_plyr_yr_reduced.head()

,position,season,season_type,passing_yards,receiving_yards,rushing_yards,rush_touchdown,pass_touchdown,interception,fumble,total_tds,depth_team,games_missed,games_played_season
0,QB,2012,REG,475.0,0.0,0.0,0.0,1.0,4.0,1.0,1.0,3.0,14,2
1,WR,2012,REG,0.0,77.0,0.0,0.0,2.0,0.0,0.0,4.0,2.0,7,9
2,TE,2012,POST,0.0,129.0,0.0,0.0,2.0,1.0,0.0,4.0,1.0,1,2
3,TE,2012,REG,0.0,930.0,0.0,0.0,8.0,3.0,0.0,16.0,1.0,0,16
4,QB,2012,REG,1367.0,0.0,38.0,0.0,7.0,5.0,3.0,7.0,2.0,8,8

In [7]:
off_plyr_yr_filtered = off_plyr_yr_reduced[(off_plyr_yr_reduced["season_type"] == "REG") & (off_plyr_yr_reduced["season"] > cutoff_year)]
off_plyr_yr_filtered.shape

(2708, 14)

In [8]:
off_plyr_yr_filtered.head()

,position,season,season_type,passing_yards,receiving_yards,rushing_yards,rush_touchdown,pass_touchdown,interception,fumble,total_tds,depth_team,games_missed,games_played_season
4039,QB,2020,REG,4633.0,0.0,6.0,3.0,40.0,12.0,4.0,43.0,1.0,0,16
4041,QB,2020,REG,2708.0,0.0,-2.0,2.0,21.0,5.0,6.0,23.0,1.0,5,11
4042,TE,2020,REG,0.0,69.0,0.0,0.0,2.0,0.0,0.0,4.0,3.0,6,10
4043,QB,2020,REG,0.0,0.0,-4.0,0.0,0.0,0.0,0.0,0.0,2.0,15,1
4044,P,2020,REG,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,15,1

In [9]:
off_plyr_yr_filtered.describe()

,season,passing_yards,receiving_yards,rushing_yards,rush_touchdown,pass_touchdown,interception,fumble,total_tds,depth_team,games_missed,games_played_season
count,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000,2708.000000
mean,2021.940547,231.046898,226.154357,109.798375,0.887371,2.844535,1.432422,0.912112,5.133309,1.745199,7.468242,9.323117
std,1.405492,827.129518,306.732688,248.620088,2.278426,5.725449,2.651166,1.926147,7.344619,0.707808,5.400005,5.410940
min,2020.000000,-7.000000,-10.000000,-18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
25%,2021.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,4.000000
50%,2022.000000,0.000000,96.500000,3.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,7.000000,10.000000
75%,2023.000000,0.000000,329.000000,70.250000,1.000000,3.000000,2.000000,1.000000,7.000000,2.000000,12.000000,14.000000
max,2024.000000,5316.000000,1947.000000,2027.000000,18.000000,48.000000,21.000000,16.000000,51.000000,3.000000,16.000000,17.000000

In [10]:
off_plyr_yr_filtered.to_csv(f"{processed_path}off_position{file_name_postfix}{file_type}")

Defensive Yearly by Position

In [11]:
def_df = pd.read_csv(f"{raw_path}{file_name_prefix}player_stats_defense{file_type}")
def_df.shape

(16148, 149)

In [12]:
def_df.head()

,player_id,player_name,position,birth_year,draft_year,draft_round,draft_pick,draft_ovr,height,weight,...,delta_season_average_defensive_extra_point_conv,delta_career_average_defensive_extra_point_conv,delta_season_average_fantasy_points_ppr,delta_career_average_fantasy_points_ppr,delta_season_average_fantasy_points_standard,delta_career_average_fantasy_points_standard,delta_season_average_defense_snaps,delta_career_average_defense_snaps,delta_season_average_team_defense_snaps,delta_career_average_team_defense_snaps
0,00-0000551,Brendon Ayanbadejo,ILB,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.484286,0.0,-0.504375,0.0
1,00-0000585,Champ Bailey,CB,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.070573,0.0,-0.028099,0.0
2,00-0000741,Ronde Barber,FS,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.538462,0.0,3.000631,0.0
3,00-0001263,NaN,NaN,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.000000,0.0,-1.000000,0.0
4,00-0001263,NaN,NaN,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0

In [13]:
def_col_to_keep = ["position", "season", "solo_tackle", "assist_tackle", "tackle_with_assist", "sack", "safety", "interception", "def_touchdown", "fumble_forced", "depth_team", "games_missed", "games_played_season"]

In [14]:
def_df_reduced = def_df[def_col_to_keep]
def_df_reduced.shape

(16148, 13)

In [18]:
def_df_filtered = def_df_reduced[(def_df_reduced["season"] > cutoff_year) & (def_df_reduced["position"].notna())].copy()
def_df_filtered.shape

(5004, 13)

In [19]:
def_df_filtered.head()

,position,season,solo_tackle,assist_tackle,tackle_with_assist,sack,safety,interception,def_touchdown,fumble_forced,depth_team,games_missed,games_played_season
9812,LB,2020,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0,2.0,12,5.0
9814,CB,2020,13.0,4.0,2.0,0.0,0.0,0.0,0.0,1,3.0,13,5.0
9815,CB,2020,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0,1.0,7,10.0
9816,CB,2020,25.0,6.0,3.0,0.0,0.0,2.0,0.0,4,1.0,7,10.0
9817,DT,2020,6.0,10.0,3.0,0.0,0.0,0.0,0.0,0,2.0,11,6.0

rename all def players to IDP to simplify  project

In [20]:
def_df_filtered['position'] = 'IDP'

In [21]:
def_df_filtered['position'].value_counts()

position
IDP    5004
Name: count, dtype: int64

In [22]:
def_df_filtered.head(3)

,position,season,solo_tackle,assist_tackle,tackle_with_assist,sack,safety,interception,def_touchdown,fumble_forced,depth_team,games_missed,games_played_season
9812,IDP,2020,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0,2.0,12,5.0
9814,IDP,2020,13.0,4.0,2.0,0.0,0.0,0.0,0.0,1,3.0,13,5.0
9815,IDP,2020,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0,1.0,7,10.0

Team Defense

In [184]:
team_df_df = pd.read_csv(f"{raw_path}{file_name_prefix}team_stats_defense{file_type}")
team_df_df.shape

(582, 47)

In [185]:
team_df_df.head()

,team,season,season_type,safety,interception,fumble,fumble_lost,fumble_forced,fumble_not_forced,fumble_out_of_bounds,...,average_tackle_with_assist,average_sack,average_qb_hit,average_def_touchdown,average_defensive_two_point_attempt,average_defensive_two_point_conv,average_defensive_extra_point_attempt,average_defensive_extra_point_conv,rush_pct,pass_pct
0,ARI,2012,REG,0.0,22.0,19.0,11.0,14.0,6.0,2.0,...,2.625000,2.375000,5.250000,0.250000,0.0,0.0,0.0,0.0,0.47,0.51
1,ATL,2012,POST,0.0,1.0,2.0,2.0,2.0,0.0,0.0,...,1.388889,1.777778,4.111111,0.111111,0.0,0.0,0.0,0.0,0.49,0.51
2,ATL,2012,REG,0.0,20.0,16.0,11.0,15.0,1.0,2.0,...,1.388889,1.777778,4.111111,0.111111,0.0,0.0,0.0,0.0,0.41,0.59
3,BAL,2012,POST,0.0,6.0,6.0,4.0,5.0,1.0,0.0,...,8.050000,2.300000,5.400000,0.150000,0.0,0.0,0.0,0.0,0.40,0.59
4,BAL,2012,REG,0.0,13.0,22.0,10.0,8.0,14.0,3.0,...,8.050000,2.300000,5.400000,0.150000,0.0,0.0,0.0,0.0,0.45,0.55

In [186]:
team_df_cols_to_keep = ["team", "season", "season_type", "safety", "interception", "fumble", "sack", "def_touchdown"]

In [187]:
team_df_reduced = team_df_df[team_df_cols_to_keep]
team_df_reduced.shape

(582, 8)

In [188]:
team_df_filtered = team_df_reduced[(team_df_reduced["season"] > 2019) & (team_df_reduced["season_type"] == "REG")]
team_df_filtered.shape

(160, 8)

In [190]:
team_df_filtered.head()

,team,season,season_type,safety,interception,fumble,sack,def_touchdown
352,ARI,2020,REG,1.0,11.0,17.0,48.0,0
353,ATL,2020,REG,0.0,12.0,21.0,29.0,1
355,BAL,2020,REG,2.0,10.0,28.0,39.0,3
357,BUF,2020,REG,0.0,15.0,19.0,38.0,3
358,CAR,2020,REG,0.0,7.0,19.0,29.0,2

In [232]:
team_df_copy = team_df_filtered.copy()

team_df_copy["team_full"] = team_df_copy["team"].map(tmmap.ABBR_TO_TEAM_NAME)

In [234]:
team_df_yard_scores = pd.read_csv(raw_path + "TeamDefenseStats" + file_type)

In [235]:
team_df_yard_scores.shape

(160, 11)

In [236]:
team_df_yard_scores.head()

,team_full,Gms,Tot Pts,Pts/G,RushYds,RYds/G,PassYds,PYds/G,TotYds,Yds/G,season
0,Philadelphia Eagles,17,303,17.8,"1,771",104.2,"2,961",174.2,"4,732",278.4,2024
1,Tennessee Titans,17,460,27.1,"2,277",133.9,"3,014",177.3,"5,291",311.2,2024
2,New York Jets,17,404,23.8,"2,059",121.1,"3,275",192.6,"5,334",313.8,2024
3,Miami Dolphins,17,364,21.4,"1,763",103.7,"3,582",210.7,"5,345",314.4,2024
4,Green Bay Packers,17,338,19.9,"1,689",99.4,"3,658",215.2,"5,347",314.5,2024

Merge total yards to team df copy

In [237]:
merged_df = team_df_copy.merge(
    team_df_yard_scores,
    how="left",
    on=["team_full", "season"]
)

In [243]:
merged_df.columns

Index(['team', 'season', 'season_type', 'safety', 'interception', 'fumble',
       'sack', 'def_touchdown', 'team_full', 'Gms', 'Tot Pts', 'Pts/G',
       'RushYds', 'RYds/G', 'PassYds', 'PYds/G', 'TotYds', 'Yds/G'],
      dtype='object')

In [244]:
merged_df.to_csv(processed_path + "team_defense_summary.csv")

kicker

In [79]:
kicker_files = Path(raw_path).glob("player_stats_kicking*.csv")

In [80]:
dfs = []
for file in kicker_files:
    df = pd.read_csv(file)
    df["source_file"] = file.name
    dfs.append(df)

k_df = pd.concat(dfs, ignore_index=True)

In [81]:
k_df.shape

(2795, 45)

In [82]:
k_df.head()

,season,week,season_type,player_id,team,player_name,player_display_name,position,position_group,headshot_url,...,pat_att,pat_missed,pat_blocked,pat_pct,gwfg_att,gwfg_distance,gwfg_made,gwfg_missed,gwfg_blocked,source_file
0,2020,1,REG,00-0023252,SF,R.Gould,Robbie Gould,K,SPEC,https://static.www.nfl.com/image/private/f_aut...,...,2,0.0,0.0,1.0,0,NaN,NaN,NaN,NaN,player_stats_kicking_2020.csv
1,2020,2,REG,00-0023252,SF,R.Gould,Robbie Gould,K,SPEC,https://static.www.nfl.com/image/private/f_aut...,...,4,0.0,0.0,1.0,0,NaN,NaN,NaN,NaN,player_stats_kicking_2020.csv
2,2020,3,REG,00-0023252,SF,R.Gould,Robbie Gould,K,SPEC,https://static.www.nfl.com/image/private/f_aut...,...,3,0.0,0.0,1.0,0,NaN,NaN,NaN,NaN,player_stats_kicking_2020.csv
3,2020,4,REG,00-0023252,SF,R.Gould,Robbie Gould,K,SPEC,https://static.www.nfl.com/image/private/f_aut...,...,2,0.0,0.0,1.0,0,NaN,NaN,NaN,NaN,player_stats_kicking_2020.csv
4,2020,5,REG,00-0023252,SF,R.Gould,Robbie Gould,K,SPEC,https://static.www.nfl.com/image/private/f_aut...,...,2,0.0,0.0,1.0,0,NaN,NaN,NaN,NaN,player_stats_kicking_2020.csv

In [83]:
k_df_filtered = k_df[(k_df["season"] > cutoff_year) & (k_df["season_type"] == "REG")]
k_df_filtered.shape

(2667, 45)

In [88]:
kicker_season = (
    k_df_filtered
    .groupby(["season", "team", "player_name"])
    .agg({
        "fg_made": "sum",
        "fg_missed": "sum",
        "fg_made_0_19": "sum",
        "fg_made_20_29": "sum",
        "fg_made_30_39": "sum",
        "fg_made_40_49": "sum",
        "fg_made_50_59": "sum",
        "fg_made_60_": "sum",
        "pat_made": "sum",
        "pat_missed": "sum",
        "week": "count"
    })
    .reset_index()
)

In [89]:
kicker_season.head()

,season,team,player_name,fg_made,fg_missed,fg_made_0_19,fg_made_20_29,fg_made_30_39,fg_made_40_49,fg_made_50_59,fg_made_60_,pat_made,pat_missed,week
0,2020,ARI,M.Nugent,7.0,0.0,0.0,1.0,4.0,2.0,0.0,0.0,7.0,0.0,4
1,2020,ARI,Z.Gonzalez,16.0,6.0,0.0,4.0,2.0,8.0,2.0,0.0,38.0,1.0,12
2,2020,ATL,E.Fry,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1
3,2020,ATL,Y.Koo,37.0,2.0,0.0,10.0,11.0,8.0,8.0,0.0,33.0,3.0,15
4,2020,BAL,J.Tucker,26.0,3.0,0.0,8.0,6.0,9.0,3.0,0.0,52.0,0.0,16

In [90]:
kicker_season.shape

(256, 14)

In [92]:
kicker_season["fg_pct"] = (
    kicker_season["fg_made"] / (kicker_season["fg_made"] + kicker_season["fg_missed"])
)

In [93]:
kicker_season.to_csv(processed_path + "kicking_position_summary.csv")

In [95]:
kicker_season.tail()

,season,team,player_name,fg_made,fg_missed,fg_made_0_19,fg_made_20_29,fg_made_30_39,fg_made_40_49,fg_made_50_59,fg_made_60_,pat_made,pat_missed,week,fg_pct
251,2024,TEN,N.Folk,21.0,1.0,0.0,5.0,2.0,8.0,6.0,0.0,25.0,0.0,14,0.954545
252,2024,WAS,A.Seibert,27.0,2.0,0.0,10.0,7.0,8.0,2.0,0.0,22.0,2.0,9,0.931034
253,2024,WAS,C.York,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1,0.000000
254,2024,WAS,G.Joseph,2.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,2.0,0.0,1,0.666667
255,2024,WAS,Z.Gonzalez,5.0,2.0,0.0,0.0,1.0,4.0,0.0,0.0,19.0,0.0,6,0.714286