In [1]:
import pandas as pd
import sys

sys.path.append('..')

In [2]:
processed_path = "data/processed/"
file_type = ".csv"

Read in summary stats

In [3]:
off_df = pd.read_csv(processed_path + "off_position_year_summary" + file_type)
dp_df = pd.read_csv(processed_path + "def_position_year_summary" + file_type)
k_df = pd.read_csv(processed_path + "kicking_position_summary" + file_type)
team_df = pd.read_csv(processed_path + "team_defense_summary" + file_type)

### Clean

offense

In [4]:
off_df.position.value_counts()

position
WR     1002
RB      652
TE      538
QB      368
FB       42
P        25
CB       23
SS       19
FS       14
ILB      12
OLB       4
DE        4
DT        3
MLB       2
Name: count, dtype: int64

In [5]:
off_cleaned = off_df[~off_df['position'].isin(['FB', 'P', 'CB', 'SS', 'FS', 'ILB', 'OLB', 'DE', 'DT', 'MLB'])]
off_cleaned.position.value_counts()

position
WR    1002
RB     652
TE     538
QB     368
Name: count, dtype: int64

In [6]:
off_cleaned.season_type.value_counts()

season_type
REG    2560
Name: count, dtype: int64

In [7]:
off_cleaned = off_cleaned.drop(columns=['Unnamed: 0', 'season_type'])

In [8]:
off_cleaned.head(5)

,position,season,passing_yards,receiving_yards,rushing_yards,rush_touchdown,pass_touchdown,interception,fumble,total_tds,depth_team,games_missed,games_played_season
0,QB,2020,4633.0,0.0,6.0,3.0,40.0,12.0,4.0,43.0,1.0,0,16
1,QB,2020,2708.0,0.0,-2.0,2.0,21.0,5.0,6.0,23.0,1.0,5,11
2,TE,2020,0.0,69.0,0.0,0.0,2.0,0.0,0.0,4.0,3.0,6,10
3,QB,2020,0.0,0.0,-4.0,0.0,0.0,0.0,0.0,0.0,2.0,15,1
5,WR,2020,0.0,399.0,0.0,0.0,1.0,2.0,0.0,2.0,1.0,4,12

defense

In [9]:
team_df.head()

,Unnamed: 0,team,season,season_type,safety,interception,fumble,sack,def_touchdown,team_full,Gms,Tot Pts,Pts/G,RushYds,RYds/G,PassYds,PYds/G,TotYds,Yds/G
0,0,ARI,2020,REG,1.0,11.0,17.0,48.0,0,Arizona Cardinals,16.0,410.0,25.6,"2,237",139.8,"3,916",244.8,"6,153",384.6
1,1,ATL,2020,REG,0.0,12.0,21.0,29.0,1,Atlanta Falcons,16.0,396.0,24.8,"1,532",95.8,"4,363",272.7,"5,895",368.4
2,2,BAL,2020,REG,2.0,10.0,28.0,39.0,3,Baltimore Ravens,16.0,468.0,29.2,"3,071",191.9,"2,739",171.2,"5,810",363.1
3,3,BUF,2020,REG,0.0,15.0,19.0,38.0,3,Buffalo Bills,16.0,501.0,31.3,"1,723",107.7,"4,620",288.8,"6,343",396.4
4,4,CAR,2020,REG,0.0,7.0,19.0,29.0,2,Carolina Panthers,16.0,350.0,21.9,"1,704",106.5,"3,888",243.0,"5,592",349.5

In [10]:
team_def_cols_to_keep = [
    'season',
    'safety',
    'interception',
    'fumble',
    'sack',
    'def_touchdown',
    'Gms',
    'Tot Pts',
    'Pts/G',
    'TotYds',
    'Yds/G'
]

In [11]:
team_df_reduced = team_df[team_def_cols_to_keep]

Kicker

In [12]:
k_df = pd.read_csv("data/processed/kicking_position_summary" + file_type)
k_df.head(2)

,Unnamed: 0,season,team,player_name,fg_made,fg_missed,fg_made_0_19,fg_made_20_29,fg_made_30_39,fg_made_40_49,fg_made_50_59,fg_made_60_,pat_made,pat_missed,week,fg_pct
0,0,2020,ARI,M.Nugent,7.0,0.0,0.0,1.0,4.0,2.0,0.0,0.0,7.0,0.0,4,1.000000
1,1,2020,ARI,Z.Gonzalez,16.0,6.0,0.0,4.0,2.0,8.0,2.0,0.0,38.0,1.0,12,0.727273

In [13]:
kicker_cols_to_keep = [
    'season',
    'fg_made',
    'fg_missed',
    'fg_made_0_19',
    'fg_made_20_29',
    'fg_made_30_39',
    'fg_made_40_49',
    'fg_made_50_59',
    'fg_made_60_',
    'pat_made',
    'pat_missed',
    'week',
    'fg_pct'
]

kick_df_reduced = k_df[kicker_cols_to_keep]

In [14]:
kick_df_reduced.head()

,season,fg_made,fg_missed,fg_made_0_19,fg_made_20_29,fg_made_30_39,fg_made_40_49,fg_made_50_59,fg_made_60_,pat_made,pat_missed,week,fg_pct
0,2020,7.0,0.0,0.0,1.0,4.0,2.0,0.0,0.0,7.0,0.0,4,1.000000
1,2020,16.0,6.0,0.0,4.0,2.0,8.0,2.0,0.0,38.0,1.0,12,0.727273
2,2020,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1,1.000000
3,2020,37.0,2.0,0.0,10.0,11.0,8.0,8.0,0.0,33.0,3.0,15,0.948718
4,2020,26.0,3.0,0.0,8.0,6.0,9.0,3.0,0.0,52.0,0.0,16,0.896552

Write to CSVs

In [15]:
off_cleaned.to_csv("data/cleaned/off_position_year_summary" + file_type)

In [16]:
kick_df_reduced.to_csv("data/cleaned/kicking_position_summary" + file_type)

In [17]:
team_df_reduced.to_csv("data/cleaned/team_defense_summary" + file_type)